1.	Write a Python program to find sum of elements in list?

In [ ]:
total = 0
ele = 0

list1 = [11, 5, 17, 18, 23]

while(ele < len(list1)):
	total = total + list1[ele]
	ele += 1

print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

2.	Write a Python program to  Multiply all numbers in the list?

In [ ]:
from functools import reduce
list1 = [1, 2, 3]
list2 = [3, 2, 4]


result1 = reduce((lambda x, y: x * y), list1)
result2 = reduce((lambda x, y: x * y), list2)
print(result1)
print(result2)

6
24

3.	Write a Python program to find smallest number in a list?

In [ ]:
list1 = []
total_ele = int (input (" How many elements you want to enter? "))
for i in range (total_ele):
  n =int (input ("Enter a number:"))
  list1.append(n)
print (list1)
min = list1[0]

for i in range (len (list1)):
  if list1[i] < min:
    min = list1[i]
print ("The smallest element is ", min)

 How many elements you want to enter? 4
Enter a number:3
Enter a number:4
Enter a number:1
Enter a number:-1
[3, 4, 1, -1]
The smallest element is  -1

4.	Write a Python program to find largest number in a list?

In [ ]:
list1 = []
total_ele = int (input (" How many elements you want to enter? "))
for i in range (total_ele):
  n =int (input ("Enter a number:"))
  list1.append(n)
print (list1)
max = list1[0]

for i in range (len (list1)):
  if list1[i] > max:
    max = list1[i]
print ("The largest element is ", max)

 How many elements you want to enter? 5
Enter a number:2
Enter a number:-4
Enter a number:9
Enter a number:-99
Enter a number:1000
[2, -4, 9, -99, 1000]
The largest element is  1000

5.	Write a Python program to find second largest number in a list?

In [ ]:
list1 = [10, 20, 30, 4, 450, 245, 945, 999, 99]
list1.sort()

print("Second largest element is:", list1[-2])

Second largest element is: 945

6.	Write a Python program to find N largest elements from a list?

In [ ]:
def Nmaxelements(list1, N):
	final_list = []

	for i in range(0, N):
		max1 = 0

		for j in range(len(list1)):
			if list1[j] > max1:
				max1 = list1[j]

		list1.remove(max1)
		final_list.append(max1)

	print(final_list)

list1 = [2, 6, 41, 85, 0, 3, 7, 6, 10]
N = 2

Nmaxelements(list1, N)

[85, 41]

7.	Write a Python program to print even numbers in a list?

In [ ]:
list1 = []
total_ele = int (input (" How many elements you want to enter? "))
for i in range (total_ele):
  n =int (input ("Enter a number:"))
  list1.append(n)
print (list1)
m = list1[0]

for i in range (len (list1)):
  if list1[i]%2 == 0:
    print (list1[i] )

 How many elements you want to enter? 5
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:6
[2, 3, 4, 5, 6]
2
4
6

8.	Write a Python program to print odd numbers in a List?

In [ ]:
list1 = []
total_ele = int (input (" How many elements you want to enter? "))
for i in range (total_ele):
  n =int (input ("Enter a number:"))
  list1.append(n)
print (list1)
m = list1[0]

for i in range (len (list1)):
  if list1[i]%2 != 0:
    print (list1[i] )

 How many elements you want to enter? 5
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:6
[2, 3, 4, 5, 6]
3
5

9.	Write a Python program to Remove empty List from List?

In [ ]:
list = [5, 6, [], 3, [], [], 9]

print("The original list is : " + str(list))

res = [ele for ele in list if ele != []]

print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

10.	Write a Python program to Cloning or Copying a list?

In [ ]:
def Cloning(li1):
	li_copy = [i for i in li1]
	return li_copy

li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

11.	Write a Python program to Count occurrences of an element in a list?

In [ ]:
# Python code to count the number of occurrences
def countX(lst, x):
	return lst.count(x)

lst = [80, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,
										countX(lst, x)))

8 has occurred 4 times