Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [ ]:
l = [1,2,3,'a','b',4]

def filter_list(l):
    new_list = []
    for x in l:
        if type(x) == int:
            new_list.append(x)
    return new_list

print(filter_list(l))

[1, 2, 3, 4]

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [ ]:
def add_indexes(lst):
    for x in range(len(lst)):
        if lst[x] == lst[0]:
            lst[x] += 0

        elif lst[x] == lst[1]:
            lst[x] += 1

        elif lst[x] == lst[2]:
            lst[x] += 2

        elif lst[x] == lst[3]:
            lst[x] += 3

        elif lst[x] == lst[4]:
            lst[x] += 4

    return lst


e = [5, 4, 3, 2, 1]
print(add_indexes(e))

[5, 5, 5, 5, 5]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [ ]:
import math
pi = math.pi

def volume(r, h):
    return (1 / 3) * pi * r * r * h

def surfacearea(r, s):
    return pi * r * s + pi * r * r

radius = float(2)
height = float(3)
slat_height = float(2)
print( "Volume Of Cone : ", volume(radius, height) )
print( "Surface Area Of Cone : ", surfacearea(radius, slat_height) )

Volume Of Cone :  12.566370614359172
Surface Area Of Cone :  25.132741228718345

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [ ]:
def triangular_series( n ):
    j = 1
    k = 1

    for i in range(1, n + 1):
        print(k, end = ' ')
        j = j + 1

        k = k + j

n = 1
triangular_series(n)

1

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [ ]:
def getMissingNo(a, n):
    i, total = 0, 1

    for i in range(2, n + 2):
        total += i
        total -= a[i - 2]
    return total


# Driver Code
if __name__ == '__main__':
    arr = [1, 2, 3, 4,6,7,8,9,10]
    N = len(arr)

    # Function call
    print(getMissingNo(arr, N))

5